{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block content %}
<h1> Welcome to Contact Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil natus sunt numquam ut et. Quidem nulla corrupti fuga rem minus, sequi adipisci quo exercitationem recusandae vero laboriosam sed libero!</p>
<p>Maxime culpa corporis unde nesciunt voluptatum illo placeat magni sit, saepe vitae ipsam temporibus earum maiores debitis quos veniam enim, veritatis ullam? Odio quos laudantium doloremque voluptatum obcaecati, praesentium dicta!</p>
<p>Consequuntur eum numquam nemo aliquam placeat ipsa perferendis a modi at, dignissimos provident obcaecati quasi excepturi repudiandae dolore quidem vero. Inventore, consequuntur. Asperiores cum iure perferendis, in praesentium modi nobis.</p>
{% endblock %}
{% block js %}{% endblock %}


