
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Example 1</title>
    </head>

    <body>
        <h1>Welcome to my code example</h1>
        <p>Variable from server: {{nm}}</p>
        <p style="color:red">{{task}}</p>
        <p>
            visit our <a href="/news">News page</a> 
        </p>
    </body>

    </html>
